h3.about{
    background-color:#f0b8b8; 
    font-weight: normal; font-size: small;
    color:white;
    text-align: right;
    text-decoration-line: none;
    text-indent:10ex;
}
a:link{color:#ffffff;}